<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thymeleaf example</title>
<!--    <link rel="stylesheet" href="/css/output.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/shoelace-autoloader.js"></script>

    <style>
        :not(:defined) {
            visibility: hidden;
        }
    </style>

</head>
<body>

<sl-details summary="Prepare" open>
    <sl-menu-item>New</sl-menu-item>
    <sl-menu-item>Questions</sl-menu-item>
    <sl-menu-item>Returned to Stake/Area</sl-menu-item>
</sl-details>
<sl-details summary="Review">
    <sl-menu-item>Review for Subcommittee</sl-menu-item>
    <sl-menu-item>Review for BLCC</sl-menu-item>
</sl-details>
<sl-details summary="Ready for Agenda">
    <sl-menu-item>Ready for Subcommittee</sl-menu-item>
    <sl-menu-item>Ready for BLCC</sl-menu-item>
    <sl-menu-item>GSD Processing</sl-menu-item>
</sl-details>

</body>
</html>