<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thymeleaf example</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/shoelace-autoloader.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>

    <style>
        :not(:defined) {
            visibility: hidden;
        }
    </style>

</head>
<body class="max-w-3xl m-auto grid grid-cols-3">
    <div id="sidebar" th:fragment="sidebar" hx-get="/example7-counts-finished" hx:trigger="${sidebarTrigger}" hx-swap="outerHTML" hx-target="#sidebar">
        <h1>Food Groups</h1>
        <div class="flex flex-col" th:if="${groups != null}">
        <a th:each="group:${groups}" th:href="@{/example7-finished/{groupName}(groupName=${group.key})}">
            <span th:text="${group.key}">meat</span> (<span th:text="${group.value}"></span>)
        </a>
        </div>
    </div>

    <div th:if="${groupName}">
        <h1 th:text="${groupName}">Chinese</h1>
        <div th:each="food:${group}">
            <div><span class="font-bold">Name</span><span th:text="${food.name}">Ham</span></div>
            <div><span class="font-bold">Price</span><span th:text="${#numbers.formatCurrency(food.price)}">$0.02</span></div>
        </div>
    </div>

    <div>
        <form hx-post="/example7-finished" hx-swap="outerHTML" th:fragment="foodForm">
            <fieldset>
                <label for="name">Name</label>
                <input class="border" id="name" name="name" />
                <div th:fragment="nameErrors" id="nameErrors" th:each="err: ${#fields.errors('food.name')}"
                     class="error-text">
                    <span th:text="${err}"></span>
                </div>
            </fieldset>
            <fieldset>
                <label for="price">Price</label>
                <input class="border" id="price" name="price" />
                <div th:fragment="priceErrors" id="priceErrors" th:each="err: ${#fields.errors('food.price')}"
                     class="error-text">
                    <span th:text="${err}"></span>
                </div>
            </fieldset>
            <fieldset>
                <label for="group">Group</label>
                <input class="border" id="group" name="group" />
                <div th:fragment="groupErrors" id="groupErrors" th:each="err: ${#fields.errors('food.group')}"
                     class="error-text">
                    <span th:text="${err}"></span>
                </div>
            </fieldset>
            <button class="btn-primary" type="submit">Update</button>
        </form>
    </div>


</body>
</html>